<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>Data Scraper</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body style="margin-top: 80px;">
    <div class="row col-12">
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Data Scraper</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row col-12">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info">
                        <ul>
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endwith %}
        </div>

    <div class="container">
        <div class="row">
            <div class="col-12">

                <h2>Login</h2>
                <form action="/" method="post">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="email" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label for="lists">Lists to Scrape (list 1, list 2, etc.) or leave blank for all lists:</label>
                        <input type="text" class="form-control" id="lists" name="lists">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
